
/* Your CSS Code here. */

.main {
	width: 200px;
	background-color: purple;
	height: 25px;
	padding: 10px;
	border-left: 5px solid green;
	
}
#heading {
	font-size: 20px;
	text-decoration: underline;
	color: white;
}
